@media all and (max-width: 670px) {
  body {
    background-color: ;
    width: 100%;
  }
  
  .last-button .button {
    color: white;
  }
  
  .button {
    color: white;
  }
  
  .display {
    color: white;
  }
  
  .buttons {
    color: white;
  }
}
