@media all and (max-width: 670px) {
  body {
    width: 100%;
    background-color: black;
  }
  
  .container {
    color: 
  }
  
  .button:hover {
    background-color: #323330;
    color: white;
    transition: 0.1s ease-in-out;
  }
  
  .button {
    color: black;
  }
  
  .display {
    color: black;
  }
  
  .buttons {
    color: black;
  }
}
