@media all and (max-width: 670px) {
  body {
    background-color: black;
    width: 100%;
  }
  
  .last-button {
    color: white;
  }
  
  #display {
    color: white;
  }
  
  .display {
    color: white;
  }
  
  .buttons {
    color: white;
  }
}
